/*Goole Fonts*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');*/

/*Default Styles*/

*{
	margin: 0; padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #aaf;
	
	touch-action: none;
	z-index: 1;
	
	user-select: none;
}

body, html {
  width: 100%;
  height: 100%;
  
  overflow: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

#scene-box {
	width: 100%;
	height: 100%;
}

/*Canvases*/

#scene { 
    background-color: #000000;
    display: block; 
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	
	width: 100%;
	height: 100%;
	
	filter: blur(3px);
}

#joyDiv{
	background: #0000FF40;
	border-color: ##0000CD;
	border: 2px solid;
	border-radius: 4px;
	
	width: 180px;
	height: 180px;
	
	position: absolute;
	left: 4px;
	bottom: 4px;
}

#joystick{
	background-color: #0000FF40;
}

#minimap{
	background: #0000FF40;
	border-color: #0000CD;
	border: 2px solid;
	border-radius: 4px;
	
	width: 360px;
	height: 180px;
	
	position: absolute;
	right: 4px;
	bottom: 4px;
}

/*Phones buttons*/

#up, #left, #right, #down{
	background: #0000FF40;
	border: 2px solid;
	border-radius: 4px;
	border-color: ##0000CD;

    text-decoration: none;
    outline: none;
    transition: 0.2s;
	
	width: 89px;
	height: 80px;
	
	position: absolute;
	bottom: 96px;
} 
#up:hover, #left:hover, #right:hover, #down:hover{background: #0000FF55;}
#up:active, #left:active, #right:active, #down:active{background: #0000FF70; transform: translateY(1px);}

#left{left: 4px;}  #up{left: 96px;}  #down{left: 188px;}  #right{left: 280px;}

/*Debug Tools*/

#version, #coordinates, #biome{
	position: absolute;
	left: 0; top: 0;
	border: 2px solid;
	border-radius: 4px;
}
#coordinates{top: 27px;} #biome{top: 54px;}

/*UI*/

#pause{
	position: absolute; 
	
    top: 4px;
	right: 4px;

    color: #80808020;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
	border-radius: 8px;
    transition: 0.2s;
} 
#pause:hover { color: #69696980;}
#pause:active{transform: translateY(1px);}

	
input[type="file"]{
    display: none;
}

#mods_loader {
    position: absolute;
	top: 74px;
	right: 6px;
	
    cursor: pointer;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 5px;
  bottom: 3px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(44px);
  -ms-transform: translateX(44px);
  transform: translateX(44px);
}

#message-box {
  position: absolute;
  top: 0px; left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb( 0, 0, 0, 0.4);
}

#message {
	position: absolute;
	background-color: #505050;
	padding: 10px;
}

#message-text {
	position: absolute;
	background-color: #606060;
	text-align: center;
	height: 2em;
    width: 80%;
	left: 10%;
	top: 10%;
}

#message-prompt {
	position: absolute;
	background-color: #606060;
	height: 2em;
    width: 80%;
	left: 10%;
	bottom: calc(20% + 2em);
}

#message-confirm {
	position: absolute;
	background-color: #606060;
	height: 2em;
    width: 35%;
	left: 10%;
	bottom: 10%;
}

#message-cancel {
	position: absolute;
	background-color: #606060;
	height: 2em;
    width: 35%;
	right: 10%;
	bottom: 10%;
}

























#menu-box{
	background-color: #00000000;
	
	position: fixed;
	left: 0px;
	top: 0px;
	
	z-index: 5;
	width: 100%;
	height: 100%;
}

#logo-box{
	background-color: #00000000;
	
	width: 100%;
	height: 1.2em;
	
	text-align: center;
	font-family: Marker Felt, fantasy;
	font-size: 6em;
	
    animation: blinker 2.5s linear infinite;
	
	position: absolute;
	right: 0px;
	top: 10%;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

#buttons-box{	
    background-color: #00000000;

	width: 100%;
	height: 40%;
	
	text-align: center;
	font-family: Marker Felt, fantasy;
	font-size: 1em;
	
	position: absolute;
	right: 0px;
	bottom: 10%;
}

.menu-button{
    display: block;
	background-color: #40404020;
	
	border: 2px solid #30303030;
	border-radius: 4px;
	
	width: 20%;
	height: 1.2em;
	
	text-align: center;
	font-family: Marker Felt, fantasy;
	font-size: 1.6em;
	
	cursor: pointer;
	
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.menu-button:hover{
	background-color: #45454530;
}

.menu-button:active{
	background-color: #45454540;
}

#version-box{
	background-color: #00000000;
	
	width: 5em;
	height: 1.2em;
	
	text-align: center;
	font-family: Marker Felt, fantasy;
	
	position: absolute;
	right: 0px;
	bottom: 0px;
}
